summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: '\02C5';
    padding-right: 0.5em;
}

details[open]>summary::before {
    content: '\02C3';
}


.nav__link {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}